body.background{
    background-image: url(images/background.jpeg); /* using tag AND class so that we can set a background image just on one page */
}
p{ /* selector for an element type (all p tags) */
    font-family: fantasy;
}

.citation{ /* selector for all elements with class="citation" */
    font-family:Arial, Helvetica, sans-serif;
    font-size: .5em;
    width:90%;
}

